@tailwind base;

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: #020a14;
    border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
    background-color: #ff79c6;
    border-radius: 10px;
}

@tailwind components;
@tailwind utilities;
